

.height{

    height: 10rem;
}

.form{

    position: relative;
}

.form .fa-search{

    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;

}

.form .span{

    position: absolute;
    right: 17.5px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.left-pan{
    padding-left: 7px;
}

.left-pan i{
   
   padding-left: 10px;
}

.form-input{

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{

    box-shadow: none;
    border:none;
}


hr{
    margin: 0;
}

.nav-style{
    
    padding-bottom: 1rem;
}

.image-banner{
    background-image: url(collection_banner__mens_kits_1070x.webp);
}

.text-banner{
    color:white;
    line-height: 1.5rem;
    border: 1px;
    border-color: white;
    border-width: 1px;
    border-style: solid;
}